{% extends 'layout.html' %}

{% block content %}

<div class="form">

	<form method=post>

	{{ login_form.hidden_tag() }}

	<h2>Sign in </h2>

	<hr>

	{{ login_form.username(size=32, placeholder="username") }}

	{% for error in login_form.username.errors %}
	<span style="color:red;">[{{error}}]</span>
	{% endfor %}

	{{ login_form.password(size=32, placeholder="password") }}

	{% for error in login_form.password.errors %}
	<span style="color:red;">[{{ error }}]</span>
	{% endfor %}

	<hr>
	
	<input type="submit" class="submit" name="submit" value="log in">
</form>
</div>

{% endblock %}